@font-face{
  font-family: yekan-bakh-en;
  src: url('/Users/navid/Desktop/zero/ReactJs/AsanExchange/src/Yekan_Bakh/YekanBakhEN04Regular.ttf');
  font-family: yekan-bakh-fa;
  src: url('/Users/navid/Desktop/zero/ReactJs/AsanExchange/src/Yekan_Bakh/YekanBakhFA04Regular.ttf');
}

html, body{
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, yekan-bakh-en,yekan-bakh-fa !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  overflow-x: hidden !important;
}